$fontStyle: monospace;
$headerBackgroundColor: rgb(0, 0, 0);
$h1fontSize: 32px;
$titleColor: rgb(255, 255, 255);
$bodyBackgroundColor: rgb(134, 134, 134);
$alertBackgroundColor: rgb(255, 64, 64);
$alertColor: rgb(249, 253, 22);
$paragraphFontSize: 22px;
$containerBackgroundColor: rgb(212, 212, 212);
$containerMargin: 15px;
$containerHeight: auto;
$containerDivsBackgroundColor: rgb(255, 255, 255);
$divPadding: 30px;
$titleLogo: 300px;

// Mixins

@mixin alertTextBox($backgroundColor, $color, $fontSize, $margin, $padding) {
    background-color: $backgroundColor;
    color: $color;
    border: 2px solid black;
    padding: $padding;
    margin: $margin;
    font-weight: bold;

    p {
        font-size: $fontSize;
    }
}

@mixin containerDivsBox($backgroundColor, $margin, $padding, $borderSize, $borderColor) {
    background-color: $backgroundColor;
    margin: $margin;
    border: $borderSize solid $borderColor;
    padding: $padding;
}

@mixin linkButton($backgroundColor, $borderSize, $borderColor, $padding, $fontSize) {
    background-color: $backgroundColor;
    border: $borderSize solid $borderColor;
    padding: $padding;
    font-size: $fontSize;
}

@mixin simpleBorder($color) {
    border: 1px solid $color;
}

@mixin containerStlye($divPadding, $containerMargin, $containerHeight) {
    padding: $divPadding;
    margin: $containerMargin;
    height: $containerHeight;
}

// Functions

@function partir($divisor, $dividendo) {
    @return ($divisor/$dividendo);
}

@function sumar($num1, $num2) {
    @return ($num1+$num2);
}

// CSS

* {
    margin: 0 auto;
    padding: 0px;
    font-family: $fontStyle;
}

body {
    background-image: url("../images/bodyWallpaper.png");
    backdrop-filter: blur(2px);
}

h1 {
    text-align: center;
    font-size: $h1fontSize;
}

p {
    font-size: $paragraphFontSize;
    font-weight: bold;
}

header {
    background-color: $headerBackgroundColor;
    color: $titleColor;
    text-align: center;
    padding: $divPadding;
    @include simpleBorder(rgb(255, 255, 255));

    .title_logo {
        width: sumar($titleLogo, 200);
    }

    a {
        @include linkButton(rgb(0, 0, 0), 2px, rgb(255, 255, 255), 6px, 16px);
        color: white;
        font-weight: bold;
        text-decoration: none;
        width: 500px;
        margin-top: partir(122px, 2);

        &:hover {
            background-color: rgb(59, 59, 59);
        }
    }

    .a_steam {
        float: left;
    }

    .a_wiki {
        float: right;
    }
}

.container {
    @include containerStlye($divPadding, $containerMargin, $containerHeight);

    div {
        opacity: 85%;
        transition: opacity 0.5s;
        @include containerDivsBox($containerDivsBackgroundColor, $containerMargin, 30px, 2px, black);
        text-align: center;

        .alertBox {
            @include alertTextBox($alertBackgroundColor, $alertColor, ($paragraphFontSize - 4), 10px, 20px);
            margin-top: 50px;
        }

        h1 {
            padding-bottom: 50px;
        }

        img {
            height: 400px;
            padding: 50px;
        }

        &:hover {
            opacity: 95%;
            transition: opacity 0.5s;
        }
    }

    .details img {
        height: 120px;
        padding: 30px;
    }

}