$fontStyle: monospace;
$headerBackgroundColor: rgb(0, 0, 0);
$titleColor: rgb(255, 255, 255);
$bodyBackgroundColor: rgb(134, 134, 134);
$alertBackgroundColor: rgb(255, 125, 125);
$alertColor: rgb(249, 253, 22);
$paragraphFontSize: 18px;
$containerBackgroundColor: rgb(212, 212, 212);
$containerMargin: 20px;
$containerHeight: auto;
$containerDivsBackgroundColor: rgb(255, 255, 255);
$divPadding: 30px;

// Mixins

@mixin alertTextBox($backgroundColor, $color, $fontSize, $margin, $padding) {
    background-color: $backgroundColor;
    color: $color;
    border: 2px solid black;
    font-size: $fontSize;
    padding: $padding;
    margin: $margin;
}

@mixin containerDivsBox($backgroundColor, $margin, $padding, $borderSize, $borderColor) {
    background-color: $backgroundColor;
    margin: $margin;
    border: $borderSize solid $borderColor;
    padding: $padding;
}


// CSS

* {
    margin: 0px;
    font-family: $fontStyle;
}

h1 {
    text-align: center;
}

p {
    font-size: $paragraphFontSize;
}

body {
    background-color: $bodyBackgroundColor;
}

header {
    background-color: $headerBackgroundColor;
    color: $titleColor;
    text-align: center;
    padding: $divPadding;
}

.container {
    background-color: $containerBackgroundColor;
    padding: $divPadding;
    margin: $containerMargin;
    height: $containerHeight;

    div {
        @include containerDivsBox($containerDivsBackgroundColor, $containerMargin, 30px, 2px, black);
        text-align: center;

        h1 {
            padding-bottom: 50px;
        }

        img {
            height: 500px;
            padding: 50px;
        }
    }

    .details img {
        height: 120px;
        padding: 30px;
    }

}

.alertBox {
    @include alertTextBox($alertBackgroundColor, $alertColor, 12px, 10px, 10px)
}